html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= title
    script(type="importmap") {"imports": {"vue": "/vue.js"}}
    script(src="/axios.js")
    link(rel="stylesheet", href="/bulma.min.css", type="text/css")
    link(rel="stylesheet", href="/css/gameboard.css", type="text/css")
  body
    input(hidden id="gameId" value=game_id)
    input(hidden id="boardSizeX" value=board_size_x)
    input(hidden id="boardSizeY" value=board_size_y)
    p gameboard view
    a(href="/game/serverlist") Back to servers

    section(class="section")
      div(class="container")

        div(id="gameboard")


    script(type="module" src="/javascripts/gameboardVue.js")