.unit-tile{
	position: absolute;
	z-index: 100;
	transition: transform 1s;
}

.unit-stretch{
	width: 8vh;
	height: 8vh;
}

.tile-stretch{
	width: 10vh;
	height: 10vh;
}

.map-tile{
	appearance: none;
    border-radius: 0px;
	border: 2px solid black;
}

.is-takeda{
	border: 2px solid red;
}

.is-date{
	border: 2px solid blue;
}